body {
    background-color:black;
    color:white;
}

.navegador li a {
    text-decoration:none;
    color:white;
}
.navegador li {
    display:inline;
    padding:1.5%;
}

.navegador {
    display:flex;
    justify-content:end;
    background:green;
}

.titulo {
    margin-top:2%;
    margin-left:2%;
}

.par1 {
    margin-left:2%;
}

.par2 {
    margin-left:2%;
}

.kindle {
    float:right;
    width:10%;
    height:100px;
}

.exp {
    margin-left:2%;
}

.experiencia ul li {
    color:red;
}
